extends layout/layout

block content
    //table.table
    //    thead
    //        tr
    //            th
    //                div.checker
    //                    input(
    //                        type="checkbox",
    //                        name="inline-checkbox"
    //                        id="checkbox-head"
    //                        class="checker-control checker-control--checkbox"
    //                    )
    //                    label(class="checker__label", for="checkbox-head")
    //            th name
    //            th Address
    //            th phone
    //    tbody
    //        tr
    //            td
    //                div.checker
    //                    input(
    //                        type="checkbox",
    //                        name="inline-checkbox"
    //                        id="checkbox-1"
    //                        class="checker-control checker-control--checkbox"
    //                    )
    //                    label(class="checker__label", for="checkbox-1")
    //            td Ali
    //            td Address
    //            td phone
    //        tr
    //            td
    //                div.checker
    //                    input(
    //                        type="checkbox",
    //                        name="inline-checkbox"
    //                        id="checkbox-1"
    //                        class="checker-control checker-control--checkbox"
    //                    )
    //                    label(class="checker__label", for="checkbox-1")
    //            td Ali
    //            td Address
    //            td phone
    //
    //        tr
    //            td
    //                div.checker
    //                    input(
    //                        type="checkbox",
    //                        name="inline-checkbox"
    //                        id="checkbox-1"
    //                        class="checker-control checker-control--checkbox"
    //                    )
    //                    label(class="checker__label", for="checkbox-1")
    //            td Ali
    //            td Address
    //            td phone
    //        tr
    //            td
    //                div.checker
    //                    input(
    //                        type="checkbox",
    //                        name="inline-checkbox"
    //                        id="checkbox-1"
    //                        class="checker-control checker-control--checkbox"
    //                    )
    //                    label(class="checker__label", for="checkbox-1")
    //            td Ali
    //            td Address
    //            td phone
    //


    div.datatable
        div.datatable__header
            div.datatable__row
                div.datatable__cell
                    div.checker
                        input(
                            type="checkbox",
                            name="inline-checkbox"
                            id="checkbox-head"
                            class="checker-control checker-control--checkbox"
                        )
                        label(class="checker__label", for="checkbox-head")
                div.datatable__cell Name
                div.datatable__cell Address
                div.datatable__cell Phone
                div.datatable__cell Actions

        div.datatable__body
            div.datatable__row
                div.datatable__cell
                    div.checker
                        input(
                            type="checkbox",
                            name="inline-checkbox"
                            id="checkbox-head"
                            class="checker-control checker-control--checkbox"
                        )
                        label(class="checker__label", for="checkbox-head")
                div.datatable__cell Name
                div.datatable__cell
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate ex labore, quae sint soluta.
                div.datatable__cell Phone
                div.datatable__cell Actions

            div.datatable__row
                div.datatable__cell
                    div.checker
                        input(
                            type="checkbox",
                            name="inline-checkbox"
                            id="checkbox-head"
                            class="checker-control checker-control--checkbox"
                        )
                        label(class="checker__label", for="checkbox-head")
                div.datatable__cell Name
                div.datatable__cell
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eum harum ipsum, odit placeat quo.
                div.datatable__cell Phone
                div.datatable__cell Actions

            div.datatable__row
                div.datatable__cell
                    div.checker
                        input(
                            type="checkbox",
                            name="inline-checkbox"
                            id="checkbox-head"
                            class="checker-control checker-control--checkbox"
                        )
                        label(class="checker__label", for="checkbox-head")
                div.datatable__cell Name
                div.datatable__cell
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolor et eum in, saepe.
                div.datatable__cell Phone
                div.datatable__cell Actions

            div.datatable__row
                div.datatable__cell
                    div.checker
                        input(
                            type="checkbox",
                            name="inline-checkbox"
                            id="checkbox-head"
                            class="checker-control checker-control--checkbox"
                        )
                        label(class="checker__label", for="checkbox-head")
                div.datatable__cell Name
                div.datatable__cell
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores harum inventore pariatur quis sit sunt?
                div.datatable__cell Phone
                div.datatable__cell Actions

            div.datatable__row
                div.datatable__cell
                    div.checker
                        input(
                            type="checkbox",
                            name="inline-checkbox"
                            id="checkbox-head"
                            class="checker-control checker-control--checkbox"
                        )
                        label(class="checker__label", for="checkbox-head")
                div.datatable__cell Name
                div.datatable__cell
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eaque impedit inventore placeat quaerat tempore!
                div.datatable__cell Phone
                div.datatable__cell Actions

