extends layout/layout

block content
    table.datatable
        thead
            tr
                th
                    div.checker
                        input(
                            type="checkbox",
                            name="inline-checkbox"
                            id="checkbox-head"
                            class="checker-control checker-control--checkbox"
                        )
                        label(class="checker__label", for="checkbox-head")
                th.col-3 name
                th.col-5 Address
                th.col-1 Status
                th.col-1 Date

        tbody
            - for(let i = 1; i <= 10; i++)
                tr
                    td
                        div.checker
                            input(
                                type="checkbox",
                                name="inline-checkbox"
                                id="checkbox-"+i
                                class="checker-control checker-control--checkbox"
                            )
                            label(class="checker__label", for="checkbox-"+i)
                    td.col-3
                        span.td__title Name:
                        i +'. Lorem ipsum dolor sit amet.'
                    td.col-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    td.col-1 active
                    td.col-1 Dec 25, 2016
                    
                    td.datatable__action
                        ul
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined archive
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined build
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined translate
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined check_circle
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined close
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined edit
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined delete
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined check_circle
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined close
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined edit
                            li
                                a(href="javascript:void(0)")
                                    span.material-icons-outlined delete